@import url("http://fonts.googleapis.com/css?family=Nunito:400,300,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300");
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

* {
	box-sizing: border-box;
}

body {
	font-family: 'Nunito';
	line-height: 1.5;
}

ul {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

.nav {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;

	width: 100px;

	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
}

.nav_list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	height: 85vh;

	-webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transform: translate(0, -100%);
	    -ms-transform: translate(0, -100%);
	        transform: translate(0, -100%);

	-webkit-flex-flow: column wrap;
	    -ms-flex-flow: column wrap;
	        flex-flow: column wrap;
}

.nav_list--active {
	-webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	        transform: translate(0, 0);
}

.nav_item {
	position: relative;

	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.nav_link {
	position: absolute;
	top: 0;
	left: 0;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	width: 100%;
	height: 100%;

	-webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	text-decoration: none;

	background: #2b3033;

	font-size: 24px;

	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.nav_link:hover {
	background: #272b2e;
}

@media (max-width: 640px) {
	.nav {
		width: 70px;
	}
	.nav_list {
		height: 90vh;
	}
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
	font-size: 40px;
}

.burger {
	position: relative;
	z-index: 2;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

	height: 15vh;

	cursor: pointer;
	-webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

	background: #2b3033;

	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.burger:hover {
	background: #272b2e;
}

.burger_patty {
	position: relative;

	display: none;

	width: 40px;
	height: 2px;

	background: white;
}

.burger_patty:before {
	position: absolute;
	top: -10px;
	left: 0;

	width: 100%;
	height: 2px;

	content: "";

	background: green;
}

.burger_patty:after {
	position: absolute;
	top: 10px;
	left: 0;

	width: 100%;
	height: 2px;

	content: "";

	background: white;
}

.burger_patty,
.burger_patty:before,
.burger_patty:after {
	-webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.burger--active .burger_patty {
	-webkit-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.burger--active .burger_patty:before {
	-webkit-transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
	    -ms-transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
	        transform: rotate(-45deg) translate(-7px, -7px) scaleX(0.7);
}

.burger--active .burger_patty:after {
	-webkit-transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
	    -ms-transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
	        transform: rotate(45deg) translate(-7px, 7px) scaleX(0.7);
}

@media (max-width: 640px) {
	.burger {
		height: 10vh;
	}
	.burger_patty {
		-webkit-transform: scale(0.8);
		    -ms-transform: scale(0.8);
		        transform: scale(0.8);
	}
	.burger--active .burger_patty {
		-webkit-transform: scale(0.8) rotate(90deg);
		    -ms-transform: scale(0.8) rotate(90deg);
		        transform: scale(0.8) rotate(90deg);
	}
}

.panel {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;

	min-height: 100vh;

	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.panel_wrapper {
	padding: 7vh 7vw;

	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.panel_content {
	-webkit-transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-transform: scale(0.7) rotateX(-230deg);
	        transform: scale(0.7) rotateX(-230deg);
	-webkit-transform-origin: center 80%;
	    -ms-transform-origin: center 80%;
	        transform-origin: center 80%;

	opacity: 0;
}

.panel_content--active {
	-webkit-transform: none;
	    -ms-transform: none;
	        transform: none;

	opacity: 1;
}

.panel_headline {
	margin: 0 0 25px 0;

	opacity: 0.8;

	font-size: 48px;
	font-weight: 700;
}

.panel p {
	max-width: 800px;
	margin: 0 0 25px 0;

	color: #1a1a1a;

	font-size: 24px;
}

.panel p:last-child {
	margin-bottom: 0;
}

.panel_block {
	height: 3px;
	margin: 0 0 25px 0;

	background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 640px) {
	.panel_headline {
		font-size: 36px;
	}
	.panel_wrapper {
		padding: 10vh 10vw;
	}
	.panel p {
		font-size: 16px;
	}
}

.c-blue {
	-webkit-transition: .2s background-color linear;
	        transition: .2s background-color linear;

	color: #5fc7ea;
}

.c-red {
	-webkit-transition: .2s background-color linear;
	        transition: .2s background-color linear;

	color: #e68568;
}

.c-green {
	-webkit-transition: .2s background-color linear;
	        transition: .2s background-color linear;

	color: #68e6ac;
}

.c-yellow {
	-webkit-transition: .2s background-color linear;
	        transition: .2s background-color linear;

	color: #FC6436;
}

.b-blue {
	-webkit-transition: .2s background-color linear;
	        transition: .2s background-color linear;

	background: #32CD64;
}


/* yellow */

.b-red {
	-webkit-transition: .2s background-color linear;
	        transition: .2s background-color linear;

	background: #C7F60E;
}

.b-green {
	-webkit-transition: .2s background-color linear;
	        transition: .2s background-color linear;

	background: #68e6ac;
}

.b-yellow {
	-webkit-transition: .2s background-color linear;
	        transition: .2s background-color linear;

	background: #FC6436;
}




/*BUTTON*/

*, *:before, *:after {
  -webkit-transition: 0.5s ease-in-out;
          transition: 0.5s ease-in-out;

  outline: none;
}

.search {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 100%;
}
.search * {
  position: absolute;

  display: block;

  padding: 0;
}
.search *.search-label {
  top: 50%;
  left: 50%;

  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;

  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);

  border-radius: 40px;
}
.search *.search-label:before {
  position: absolute;
  bottom: -50px;
  left: 35px;

  display: block;

  width: 10px;
  height: 50px;

  content: '';
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: #494949;
}
.search *.search-label:after {
  position: absolute;
  top: -10px;
  left: -10px;

  display: block;

  width: 80px;
  height: 80px;

  content: '';
  -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
          transform: rotate(25deg);

  border: 10px solid #494949;
  border-radius: 50px;
}
.search *#search-input {
  z-index: 1;
  top: 50%;
  left: 50%;

  box-sizing: border-box;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  padding: 20px;

  color: transparent;
  border: none;
  border-radius: 40px;

  font-size: 26.66667px;
}
.search *#reset-form {
  z-index: 0;
  top: 50%;
  left: 50%;

  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;

  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);

  opacity: 1;
  opacity: 0;
  border: none;
  border-radius: 100%;
  background: transparent;
}
.search *#reset-form:before {
  position: absolute;
  top: 0;
  left: 50%;

  display: block;

  width: 10px;
  height: 100%;
  margin-left: -5px;

  content: '';

  border-radius: 10px;
  background: #494949;
}
.search *#reset-form:after {
  position: absolute;
  top: 50%;
  left: 0;

  display: block;

  width: 100%;
  height: 10px;
  margin-top: -5px;

  content: '';

  border-radius: 10px;
  background: #494949;
}
.search *#reset-form:hover {
  cursor: pointer;
}
.search *#reset-form:hover:before, .search *#reset-form:hover:after {
  background: red;
}
.search.active .search-label:before {
  bottom: 0;

  height: 0;

  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.search.active .search-label:after {
  left: -170px;

  width: 400px;

  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.search.active #search-input {
  width: 400px;
  margin-left: -200px;

  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;

  color: #494949;
}
.search.active #reset-form {
  z-index: 2;

  margin-left: 140px;

  -webkit-transition-delay: 1s;
          transition-delay: 1s;

  opacity: 1;
}


.wrap {
	margin: 50px 40px 0;

	text-align: center;
}

.btn {
	padding: 15px 25px;

	text-align: center;
	text-decoration: none;
	letter-spacing: .1em;

	color: #fff;
}

.inset {
	padding: 20px 60px;

	text-align: center;
	text-decoration: none;

	color: #fff;
	border: solid 1px #444;
	border-radius: 5px;
	background-color: rgba(7, 160, 221, 0.99);
	background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0));
	background-size: 100%;
	box-shadow: 0 1px rgba(255, 255, 255, 0.7);
}

.inset:hover,
.inset:focus {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.7);
}

.inset:active {
	margin-top: 1px;
	padding: 21px 60px 19px;

	box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.57), 0 1px rgba(255, 255, 255, 0.68);

	line-height: 20px;
}



/*TXTAREA*/

#txtarea {
	background-color: #FF4E78;

	font-size: inherit;
}

#search-form,
.form-control {
	margin-bottom: 20px;
}

.cover {
	display: inline-block;

	width: 300px;
	height: 300px;

	background-size: cover;
}

.cover:hover {
	cursor: pointer;
}

.cover.playing {
	border: 5px solid #e45343;
}

.button__holder {
  position: relative;

  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  width: 100%;
  height: 100%;

  background-color: #1a1a1a;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.button__holder:after {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  content: "";

  background: rgba(26, 26, 26, 0.7);
}
.button__holder h2 {
  margin-right: 1em;

  text-align: center;

  color: #8A3B58;
}

.plus {
  position: relative;
  z-index: 1;

  width: 80px;
  height: 80px;

  -webkit-transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), -webkit-transform 200ms cubic-bezier(0.2, 0, 0.7, 1);
          transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1), transform 200ms cubic-bezier(0.2, 0, 0.7, 1);

  color: #1a1a1a;
  border: none;
  border-radius: 50%;
  background: #ed1c5b;
}
.plus:after {
  content: "+";

  font-size: 2.5em;
  line-height: 1.1em;
}
.plus:hover {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);

  box-shadow: 0 0 1px 15px rgba(138, 59, 88, 0.4), 0 0 1px 30px rgba(138, 59, 88, 0.1), 0 0 1px 45px rgba(138, 59, 88, 0.1);
}
